@import "_colors";
@import "_grid";
@import "_header";
@import "_banner";
@import "_navbar";
@import "_content";
@import "_footer";

body {
  min-width: $desktop;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
